[Unit]
Description=Configure initial startup
#ConditionFirstBoot=true
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fix-bootc-system.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
